
<!-- {{outlet}} -->

<h3>Ask A Question, Find An Answer. <br>
  Know the Answer? Help Someone.</h3>

<p id="info">This message board was created to help people find the answers to their questions both mundane and complex</p>

<ul>
  {{#each model.question as |question|}}
    {{question-tile question=question destroyQuestion="destroyQuestion" update="update"}}
  <li>{{answer-popularity answer}} {{#link-to 'answer' answer.id}}{{answer.user}}{{/link-to}}</li>
  {{/each}}
</ul>
{{new-question save="save"}}
