
<!-- {{outlet}} -->

<h3>Ask A Question, Find An Answer. <br>
  Know the Answer? Help Someone.</h3>

<p id="info">This message board was created to help people find the answers to their questions both mundane and complex</p>

<ul>
  {{#each model as |question|}}
    {{question-detail question=question destroyQuestion="destroyQuestion" update="update"}}
  {{answer}} {{#link-to 'answer' answer.id}}{{answer.name}}{{/link-to}}
  {{/each}}
</ul>
{{new-question save="save"}}
