<h2>{{question.title}}<br>
 {{question.author}} <br>
{{question.details}}</h2>


{{question-detail question=model destroyQuestion="destroyQuestion"}}
{{update-question question=model update="update"}}


<h2> answers: </h2>

{{new-answer question=model saveAnswer="saveAnswer"}}
<ul>
{{#each model.answers as |answer|}}
  <li>{{answer.user}} : {{answer.title}}</li>
{{/each}}
</ul>
